

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

/*Login Page*/


.sub-title {
  color: grey;
  margin-top: 20px;
  margin-bottom: 20px;
}
.title {
  font-size: 38px;
  font-weight: 550;
}
.form input:focus,.form input {
  outline: none;
  border: none;
  border-radius: 10px;
  width: 100%;
  height: 40px;
  padding-left: 20px;
  margin-top: 20px;
}
.form-login {
  width: 120%;
}
.form-username {
background-color: orange;

}
.register-path:link,.register-path:visited {
  color: black;
}
.form-password {
  background-color: lightgrey;
}

.button {
  text-align: center;
  width: 110%;
  border-radius: 10px;
}
.login-button {
  background-color: red;
  color: white;
  height: 40px;
  
}
.login-buttons {
  width: 100%;
}
a {
  text-decoration: none;
}
.login-button:hover {
  outline: none;
  border: none;
}
.skip {
  color: grey;
  height: 40px;
  text-align: center;


}
.grey-link:link,.grey-link:visited {
  color: grey;
}
.black-link:link,.black-link:visited {
  color: black;
}
.reset {
  margin-bottom: 60px;
  color: grey;
}
.register-path {
  color: black;
}

/*homepage*/
.home-image {
  background-color: pink;
  width: 100px;
  height: 100px;
  margin-bottom: 40px;
}
.buttons {
  display: flex;
  gap: 59%;
  margin-top: 40px;
}
.next {
  background-color: red;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 4%;
  border-radius: 10px;
}

/*registerpage*/
.toggle-password {
  position: relative;
  bottom: 4vh;
  left: 92%;
}